<!DOCTYPE html>
<html lang="en">

<head>
    <title>XCompany - Login</title>
</head>

<body style="background-color:rgb(255, 255, 255);">

    <table style="border:2px solid rgb(0, 0, 0); border-collapse: collapse;" align="center" width="70%">

        <tr>

            <td style="border:2px solid rgb(0, 0, 0); border-collapse: collapse;" align="right">

                <img align="left" src="../../assets/flycash.png" alt="Logo" width="200" height="100">
                <br><br>
                <a href="publicHome.html">Home </a>|
                <a style="color: rgb(116, 168, 64); font-size: larger;" href="login.html">Login</a>
                <a href="registration.html">Registration</a>&nbsp;&nbsp;
            </td>

        </tr>

        <tr height=698px>

            <td style="border:2px solid rgb(0, 0, 0); border-collapse: collapse;">

                <br><br><br><br><br>
                <fieldset style="width:45%; margin:  0px auto; color: rgb(0, 0, 0);"">
                    <span style=" color: rgb(0, 0, 0);" id="Message" align="center"></span>
                    <legend align=" left"><b style="color: rgb(0, 0, 0);">LOGIN</b></legend>

                    User Name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<input type="text" name="username" id="userName"
                        placeholder=" Enter User Name"><br><br>

                    Password&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<input type="password"
                        name="password" id="Password" placeholder=" Enter Password">
                    <hr>
                    <input type="checkbox" name="remember_me" value="1"> <b style="color: rgb(0, 0, 0);">Remember
                        Me</b><br><br>
                    <input type="submit" name="submit" value="Log In" id="Submit" onclick="loginCheck()">
                    <a id="signUp" href="registration.html"><input type="button" name="signup" value="Sign Up"></a>
                </fieldset>

                <br><br><br><br><br>
                </form>

            </td>

        </tr>

        <tr>

            <td style="border:2px solid rgb(0, 0, 0); border-collapse: collapse;" colspan="2" align="center">
                <p style="color: rgb(0, 0, 0);">Copyright &#169; 2021</p>
            </td>

        </tr>

    </table>
    <script type="text/javascript" src="../../scripts/jquery.js"></script>
</body>

</html>