<!DOCTYPE html>
<html lang="en">

<head>
    <title>FlyCash - Home</title>
</head>

<body style="background-color:rgb(255, 255, 255);">
    <table style="border:2px solid rgb(0, 0, 0); border-collapse: collapse;" border="1" align="center" width="70%">

        <tr>

            <td style="border:2px solid rgb(0, 0, 0); border-collapse: collapse;" align="right">

                <img align="left" src="../../assets/flycash.png" alt="Logo" width="200" height="100">
                <br><br>
                <a style="color: rgb(116, 168, 64); font-size: larger;" href="publicHome.html" ;>Home</a>|
                <a href="login.html">Login</a>|
                <a href="registration.html">Registration</a>&nbsp;&nbsp;
            </td>


        </tr>

        <tr>

            <td style="border:2px solid rgb(0, 0, 0); border-collapse: collapse;" colspan="2" height=694px>
                <h2 style="font-size:400%; color: rgb(0, 0, 0);" align="center">Welcome to FlyCash</h2>
                <h2 style="color:rgb(121, 121, 121);" align="center">Make Your Money Fly</h2>
            </td>



        </tr>

        <tr>

            <td style="border:2px solid rgb(0, 0, 0); border-collapse: collapse;" colspan="2" align="center">
                <p style="color: rgb(0, 0, 0);">Copyright &#169; 2021</p>
            </td>

        </tr>

    </table>



</body>

</html>